body{
    position: relative;
}

.bg-img{
    background-image: url('resources/pexels-apasaric-1437493.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
}

.blur{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
}

.content{
    position: absolute;
}

h1{
    font-size: 7rem;
    color: #4e4e4e;
    text-align: center;
    font-weight: bold;
}
h2{
    font-size: 6rem;
    color: #555555;
    text-align: center;
}

h1.heading_green{
    color: #509431;
}

h4{
    font-size: 1.5rem;
    color: #555555;
    text-align: center;
    font-weight: lighter;
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.2) */
}

.nav-item{
    font-weight: 600;
}

.nav-item:hover{
    font-weight: lighter;
}

.btn-secondary:hover{
    background-color: #ffffff;
    color: #555555;
}


/* .nav-link{
    color: #000000;
    font-weight: 500;
} */

@media (max-width: 768px){
    h1.heading_green{
        color: #509431;
    }
    h1{
        font-size: calc(1.525rem + 3.3vw);
        color: #555555;
    }
    h2{
        font-size: calc(1.3rem + 2.3vw);
        color: #555555;
    }
    h4{
        font-size: calc(0.8rem + 2.3vw);
        color: #555555;
    }
    .flex-row-reverse{
        justify-content: center;
    }
    .nav-item:hover{
        font-weight: bold;
    }
    
    .btn-secondary:hover{
        background-color: #ffffff;
        color: #555555;
    }
}

