body{
    position: relative;
    background-color: #F2F2F2;
}

.home_pg{
    padding-top: 15%;
}

.bg-img{
    background-image: url('resources/blurred_background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 80vh;
    width: 100vw;
    position: relative;
    z-index: -1;
}


/* .blur{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
} */

.bg_text{
    font-size: 7rem;
    background-color: #656765;
    color: #fff;
    position: relative;
    /* mix-blend-mode:multiply; */
    border-radius: 25px;
    padding: 1.2rem;
    text-align: center;
}

.heading_txt{
    font-size: 7rem;
    font-family: lato;
    color: #656765;
    text-align: center;
    font-weight: bold;
    padding: 1.2rem;
}
h2{
    font-size: 6rem;
    color: #555555;
    text-align: center;
}

h1{
    font-size: 1.7rem;
}



.card-title{
    color: white;
    font-size: 1.7rem;
    font-family: 'lato';
    font-weight:bolder;
}

.card-layout{
    padding: 3rem;
    border-radius: 30%;
}

.card-text{
    color: white;
    font-size: 1.1rem;
    font-weight: lighter;
}

.heading_home_cards{
    font-size: 4rem;
    color: white;
}

.borders{
    background-color: #919395e9;
    padding: 1.8rem;
    border: 1px solid white;
    border-top: 0px
}

.home_card_text{
    font-size: 1.3rem;
    color: white;
}

card-body{
    padding: 3rem;
}

hr{
    height: 10px;
    size: 3rem;
}

.service-heading{
    color: white;
    font-weight:bold;
    font-size: 2.2rem;
}

.srv_head{
    font-size: 5.5rem;
    color: #503a2c;
    /* text-align: center; */
    letter-spacing: 8px;
    font-family:'Oswald';
}

.srv_head_color{
    font-size: 5.5rem;
    color: #9E877A;
    /* text-align: center; */
    letter-spacing: 8px;
    font-family:'Oswald';
}


.abt_head{
    font-size: 5.5rem;
    color: #000000;
    text-align: center;
    letter-spacing: 8px;
    font-family:'Oswald';
}

.abt_head_color{
    font-size: 5.5rem;
    color: #9E877A;
    text-align: center;
    letter-spacing: 8px;
    font-family:'Oswald';
}

h4{
    font-size: 2rem;
    color: #4b4b4b;
    /* text-align: center; */
    font-weight: lighter;
}

.about_para{
    font-size: 1.2rem;
    padding-right: 3rem;
}

.a_link{
    color: #509431;
    font-size: 1.3rem;
    font-weight: bold;
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.2) */
}

.nav-item{
    font-weight: 600;
}

.nav-item:hover{
    font-weight: lighter;
}

.btn-secondary:hover{
    background-color: #ffffff;
    color: #555555;
}

.card-img-top{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.team_image{
    padding: .5rem;
}

.card-body{
    border-end-start-radius: 2rem;
    border-end-end-radius: 2rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    padding: 2rem;
}

.card{
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.service-title{
    align-items: start;
    padding-top: 1.5rem;
    padding-left: 3rem;
    
}

.service-content{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.cend{
    justify-content: end;
}

.section_start{
    margin-top: 5%;
    margin-bottom: 5%;
}

.about_us{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.team_info{
    text-align: center;
    padding: 2rem;
}


/* .nav-link{
    color: #000000;
    font-weight: 500;
} */

@media (max-width: 768px){

    .bg_text{
        font-size: calc(1.525rem + 3.3vw);
        background-color: #656765;
        color: #fff;
        position: relative;
        mix-blend-mode: multiply;
        border-radius: 25px;
        padding: 1.2rem;
        text-align: center;
    }

    .home_pg{
        padding-top: 35%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .cend{
        justify-content: center;
    }

    .abt_head{
        font-size: calc(1.525rem + 3.3vw);
        color: #000000;
        text-align: start;
        letter-spacing: 8px;
        font-family:'Oswald';
    }
    
    .heading_home_cards{
        font-size: calc(1.525rem + 3.3vw);
        color: white;
    }
    
    .home_card_text{
        font-size: 1rem;
        color: white;
        text-align: center;
    }

    .abt_head_color{
        font-size: calc(1.525rem + 3.3vw);
        color: #9E877A;
        text-align: start;
        letter-spacing: 8px;
        font-family:'Oswald';
    }

    .srv_head{
        font-size: calc(1.525rem + 3.3vw);
        color: #000000;
        text-align: start;
        letter-spacing: 8px;
        font-family:'Oswald';
    }
    
    .srv_head_color{
        font-size: calc(1.525rem + 3.3vw);
        color: #9E877A;
        text-align: start;
        letter-spacing: 8px;
        font-family:'Oswald';
    }

    .cstart{
        justify-content: center;
    }

    .card-layout{
        padding: 1rem;
    }

    .service-title{
        margin-top: 3rem;
    }

    .service-content{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    hr{
        margin-left: 1rem;
        width: 20%;
    }

    .heading_txt{
        font-size: calc(1.525rem + 3.3vw);
        font-family: lato;
        color: #656765;
        text-align: center;
        font-weight: bold;
        padding: 1.2rem;
    }
    h2{
        font-size: calc(1.3rem + 2.3vw);
        color: #555555;
        text-align: center;
    }
    
    h4{
        font-size: calc(0.8rem + 2.3vw);
        color: #555555;
        text-align: center;
        font-weight: lighter;
    }
    
    .a_link{
        color: #509431;
        font-size: calc(0.4rem + 2.3vw);
        font-weight: bold;
    }
    h1.heading_green{
        color: #509431;
    }
    h1{
        font-size: calc(1.525rem + 3.3vw);
        color: #555555;
    }
    h2{
        font-size: calc(1.3rem + 2.3vw);
        color: #555555;
    }
    h4{
        font-size: calc(0.8rem + 2.3vw);
        color: #555555;
    }
    .flex-row-reverse{
        justify-content: center;
    }
    .nav-item:hover{
        font-weight: bold;
    }
    
    .btn-secondary:hover{
        background-color: #ffffff;
        color: #555555;
    }
}

