.masthead{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
    color: #ffffff;
    opacity: 90%;
}

h1{
    font-size: 5rem;
    color: #555555;
    text-align: center;
    font-weight: bold;
}
h2{
    font-size: 6rem;
    color: #555555;
    text-align: center;
}

h4{
    font-size: 1.5rem;
    color: #555555;
    text-align: center;
    font-weight: lighter;
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.2) */
}

.nav-item:hover{
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #ffffff;
    color: #555555;
}

@media (max-width: 768px){
    .masthead{
        min-height: 100vh;
        min-width: 30vh;
    }
    h1{
        font-size: calc(1.525rem + 3.3vw);
        color: #ffffff;
    }
    h2{
        font-size: calc(1.3rem + 2.3vw);
        color: #ffffff;
    }
    h4{
        font-size: calc(1.3rem + 2.3vw);
        color: #ffffff;
    }
    .flex-row-reverse{
        justify-content: center;
    }
    .nav-item:hover{
        font-weight: bold;
    }
    .btn-secondary:hover{
        background-color: #EBEBEB;
        color: #6c757d;
    }
}

